Webpack (imports/exports)
  Babel
  Scss
  Eslint
  2 Modes
    - Dev
      Dev Server (автоматически перезагружает окно браузера, если в коде произошли изменения),
      SourceMaps (исходные карты добавляются для Scss файлов для того, чтобы понимать где мы находимся и какие стили
      написали. Показывает не на1 большой файл объединенный, а на те файлы, где мы вели разработку),
      Eslint (инструмент для поддержки чистоты кода и для содержания кода в едином стиле),
      Not Minified JS & CSS (во время разработки нам нужно понимать, как наш код выглядит и что в нем происходит)
    - Prod
      Minified Code

Git
  Production

  Development

